body {
    background: url("./assets/images/1877Map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .titlehead {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 3rem; 
    text-shadow: 2px 2px #808080;
    margin: 0rem;
    padding: 0.5rem;
  }

  
  .titletext {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 2rem; 
    text-shadow: 2px 2px #808080;
    margin: 0rem;
    padding: 0.5rem;
  }