/* main css for the handlebars */
body {
    background: url("/assets/images/1877Map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    flex: content;
  }

  h1 {
    font-size: rem;
  }

  .header {
    background-color: #fceed1;
  }


  .maincontainer {
    background-color: #fceed1;
  }